<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.groupaccountingsystem.mapper.ActivityMemberMapper">

    <insert id="insert">
        INSERT INTO activitymember (activityID, memberID, role, confirmAttendStatus, confirmTime)
        VALUES (#{activityID}, #{memberID}, #{role}, #{confirmAttendStatus}, #{confirmTime})
    </insert>

    <delete id="delete">
        DELETE FROM activitymember WHERE activityID = #{activityID} AND memberID = #{memberID}
    </delete>

    <select id="selectOne" resultType="activityMember">
        SELECT * FROM activitymember WHERE activityID = #{activityID} AND memberID = #{memberID}
    </select>

    <select id="selectByActivityID" resultType="activityMember">
        SELECT * FROM activitymember WHERE activityID = #{activityID} ORDER BY role DESC, memberID
    </select>

    <select id="selectByMemberID" resultType="activityMember">
        SELECT * FROM activitymember WHERE memberID = #{memberID}
    </select>

    <update id="updateConfirmAttendStatus">
        UPDATE activitymember
        SET confirmAttendStatus = #{confirmAttendStatus},
            confirmTime = NOW()
        WHERE activityID = #{activityID}
          AND memberID = #{memberID}
    </update>
</mapper>
