<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.groupaccountingsystem.mapper.ReportMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="reportID">
        INSERT INTO report (reporterID, accusedActivityID, reportReason, reportTime, reportProcessStatus)
        VALUES (#{reporterID}, #{accusedActivityID}, #{reportReason}, #{reportTime}, #{reportProcessStatus})
    </insert>

    <delete id="delete">
        DELETE FROM report
        WHERE reportID = #{reportID}
          AND reporterID = #{reporterID}
          AND reportProcessStatus = '待审核'
    </delete>

    <update id="auditReport">
        UPDATE report SET reportProcessStatus = #{reportProcessStatus} WHERE reportID = #{reportID}
    </update>

    <select id="selectById" resultType="report">
        SELECT * FROM report WHERE reportID = #{reportID}
    </select>

    <select id="selectByReporterID" resultType="report">
        SELECT * FROM report WHERE reporterID = #{reporterID} ORDER BY reportTime DESC, reportID DESC
    </select>

    <select id="search" resultType="report">
        SELECT * FROM report
        WHERE 1 = 1
        <if test="keyword != null and keyword != ''">
            AND (
                CAST(reportID AS CHAR) LIKE CONCAT('%', #{keyword}, '%')
                OR CAST(reporterID AS CHAR) LIKE CONCAT('%', #{keyword}, '%')
                OR CAST(accusedActivityID AS CHAR) LIKE CONCAT('%', #{keyword}, '%')
                OR reportReason LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>
        <if test="reportProcessStatus != null and reportProcessStatus != ''">
            AND reportProcessStatus = #{reportProcessStatus}
        </if>
        ORDER BY reportTime DESC, reportID DESC
    </select>
</mapper>
